lists {
	display:block;
  	margin: 2em 1em;
  	border: 4px solid #cdf;
  	padding: 0px 1em;
  	background-color: aquamarine;
}

title {
	display: inline-block;
  	width: 100px;
  	height: 100px;
  	padding: 5px;
  	border: 1px solid blue;
  	background-color: yellow;
}

/*name { position: relative;
	left: 0%
}

Artist {position: relative;
	left: 25%;
}
	
genre {position: relative;
	left: 50%;
}

year {position: relative;
	left: 75%;
}

entry {
	display:block;
}
*/

