lists {
	display:block;
  	margin: 2em 1em;
  	border: 4px solid #cdf;
  	padding: 0px 1em;
  	background-color: aquamarine;
}

title {
	display:block; 
      font-weight:bolder; 
      text-align:center; 
      font-size:30px; 
      background-color: green; 
      color: white; 
	
}

name {	display: inline-block;
  	width: 200px;
  	height: 20px;
  	padding: 5px;
  	border: 1px solid blue;
  	background-color: yellow;
}

Artist {display: inline-block;
  	width: 200px;
  	height: 20px;
  	padding: 5px;
  	border: 1px solid blue;
  	background-color: yellow;
}
	
genre {display: inline-block;
  	width: 200px;
  	height: 20px;
  	padding: 5px;
  	border: 1px solid blue;
  	background-color: yellow;
}

year {display: inline-block;
  	width: 200px;
  	height: 20px;
  	padding: 5px;
  	border: 1px solid blue;
  	background-color: yellow;
}

entry {
	display:block;
}


