lists {
	display:block;
  	margin: 2em 1em;
  	border: 4px solid #cdf;
  	padding: 0px 1em;
  	background-color: aquamarine;
}

title {
	display:block; 
      font-weight:bolder; 
      text-align:center; 
      font-size:30px; 
      background-color: green; 
      color: white; 
}
	
entry {
	display:block;
}


