lists {
	display:block;
  	margin: 2em 1em;
  	border: 4px solid #cdf;
  	padding: 0px 1em;
  	background-color: aquamarine;
}

title {
	display:block; 
      font-weight:bolder; 
      text-align:center; 
      font-size:30px; 
      background-color: green; 
      color: white; 
}

name { position: center;
	left: 0%
}

Artist {position: center;
	left: 25%;
}
	
genre {position: center;
	left: 50%;
}

year {position: center;
	left: 75%;
}

entry {
	display:block;
}


